html {
    min-height: 100%;
}

@font-face {
	font-family: 'MainFont'; 
	src: url(assets\fonts\OpenSans-VariableFont_wdth,wght.ttf)
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(163, 16, 16));
    background-attachment: fixed;
    /*margin: 5px;
    padding: 20px;*/
    margin: 0;
    padding: 0;
}


header h1 {
    font-family: 'MainFont', sans-serif;
    /*margin-left:calc(420px * max-width/width);
    margin-right:calc(420px * max-width/width);*/
    margin-left: 420px;
    margin-right: 420px;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

h2 {
    font-family: 'MainFont', sans-serif;
    color: #ffffff;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 45px;
}

p {
    font-family: 'MainFont', sans-serif;
    font-size: 22px;
    color: #ffffff;
    margin-left: 20px;
    text-indent: 25px;
}

ol {
    font-family: 'MainFont', sans-serif;
    font-size: 22px;
    color: #ffffff;
    list-style: lower-alpha;
    counter-reset: li;
}

.content-panel {
    width: 200px;
    background-repeat: no-repeat;
    background-color: #000000;
    /*padding: 10px;*/
    margin-left: 45px;
    border: solid;
    border-radius: 5px;
    border-color: white;
}

.content-panel-header {
    background-size: cover;
    margin: 0px;
    font-size: 18px;
    text-align: center;
    width: 194px;
    background-color: rgb(53, 2, 2);
    padding: 0px;
}

.content-panel ul {
    list-style-type: none;
    padding: 15px;
    color: white;
}

.content-panel ol {
    list-style: none;
    counter-reset: li;
    padding-left: 15px;
    color: white;
}

.content-panel li {
    font-size: 16px;
    margin-bottom: 0px;
    color: white;
}

.content-panel a {
    text-decoration: none;
}

header {
    background-repeat: no-repeat;
    background-color: #000000;
    padding: 0;
    margin: 0;
}

.container {
    background-repeat: no-repeat;
    margin: 20px;
    max-width: 1600;
}

.container p {
    font-family: 'MainFont', sans-serif;
    font-size: 22px;
    color: #ffffff;
    text-indent: 25px;
}

.container h2 {
    font-family: 'MainFont', sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container h3 {
    font-family: 'MainFont', sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
}

.content-panel li::before {
    counter-increment: li;
    content: counters(li,".") ". ";
}

.infobox {
    width: 300px;
    border: solid;
    border-radius: 5px;
    border-color: white;
    background-color: #000000;
    margin: 0;
    padding: 0.5em;
    float: right;
}

.infobox-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.infobox-content {
    margin-bottom: 0.5em;
}

.infobox-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}

.infobox-link {
    color: #0645ad;
    text-decoration: none;
}

.infobox-link:hover {
    text-decoration: underline;
}

.infobox h2 {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
}

/* устанавливаем для таблицы внешнюю границу серого цвета толщиной 3px */
/*.infobox-table {
   border-top: 1px solid rgb(255, 255, 255);
}*/
/* задаём для ячейки тела таблицы границу серого цвета толщиной 1px */
.infobox-table td {
    /*border: 1px solid rgb(255, 255, 255);*/
    font-family: 'MainFont', sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding-left: 5px;
    width: 50%;
    text-align: left;
}

.sect {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
}

.images {
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
	max-width: 400px;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
    
}

.images img {
    max-width: 100%;
    max-height: 100%;
}

.images h2 {
    color: #ffffff;
    font-size: 16px;
    text-align: 0px;
    margin: 0px;
}

/* Добавляем стили для мобильных устройств */
@media only screen and (max-width: 600px) {
    header h1 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .content-panel {
        margin-left: auto;
        margin-right: auto;
    }

    .infobox {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        margin: 10px;
    }
}

/* Добавляем стили для планшетов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header h1 {
        margin-left: 100px;
        margin-right: 100px;
    }
    .content-panel {
        margin-left: 100px;
    }
}

/* Добавляем стили для десктопных устройств */
@media only screen and (min-width: 1025px) {
    header h1 {
        margin-left: 420px;
        margin-right: 420px;
    }
    .content-panel {
        margin-left: 45px;
    }
}

.infobox h2 {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
}

/* устанавливаем для таблицы внешнюю границу серого цвета толщиной 3px */
/*.infobox-table {
   border-top: 1px solid rgb(255, 255, 255);
}*/
/* задаём для ячейки тела таблицы границу серого цвета толщиной 1px */
.infobox-table td {
    /*border: 1px solid rgb(255, 255, 255);*/
    font-family: 'MainFont', sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding-left: 5px;
    width: 50%;
    text-align: left;
}

.sect {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
}

.images {
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
	max-width: 400px;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
    
}

.images img {
    max-width: 100%;
    max-height: 100%;
}

.images h2 {
    color: #ffffff;
    font-size: 16px;
    text-align: 0px;
    margin: 0px;
}

/* Добавляем стили для мобильных устройств */
@media only screen and (max-width: 600px) {
    header h1 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .content-panel {
        margin-left: auto;
        margin-right: auto;
    }

    .infobox {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        margin: 10px;
    }
}

/* Добавляем стили для планшетов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header h1 {
        margin-left: 100px;
        margin-right: 100px;
    }
    .content-panel {
        margin-left: 100px;
    }
}

/* Добавляем стили для десктопных устройств */
@media only screen and (min-width: 1025px) {
    header h1 {
        margin-left: 420px;
        margin-right: 420px;
    }
    .content-panel {
        margin-left: 45px;
    }
}
